NET led(3) LOC = "P44" | IOSTANDARD = LVTTL;
NET led(2) LOC = "P43" | IOSTANDARD = LVTTL;
NET led(1) LOC = "P41" | IOSTANDARD = LVTTL;
NET led(0) LOC = "P40" | IOSTANDARD = LVTTL;
NET "clk" LOC = "P55" | IOSTANDARD = LVCMOS25 ;